[Unit]
Description=Stay Connected
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/opt/connector

[Install]
WantedBy=multi-user.target
